@model IEnumerable<MoseKeyboard.Models.Models.Category>
@using MoseKeyboard.Models.Models.ViewModel
@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<style>
    body {
        display: flex;
        flex-direction: column;
        background: rgb(22, 22, 22);
        background: linear-gradient(177deg, rgba(22, 22, 22, 1) 0%, rgba(7, 7, 7, 1) 100%);
        justify-content: center;
    }

        body h1,
        tr,
        th {
            color: gray;
            font-family: PT SERIF;
        }

    .category-table {
        width: 80%;
        margin-top: 3.5vw;
        margin-left: 10vw;
        background-color: rgba(0, 0, 0, 0.4);
        height: 40vw;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        border-radius: 10px;
    }

    .table {
        background-color: rgb(13, 13, 13);
        border: solid 1px rgb(13, 13, 13);
        border-radius: 10px;
    }

    .btn-class {
        background-color: rgb(25, 25, 25);
        border: solid 0px;
        color: darkgray;
        font-family: PT SERIF;
    }
</style>

<body>
    <div class="category-table">
        <h1>Categories</h1>

        <p>
            <a asp-action="Create" class="btn btn-primary, btn-class">Create New</a>
        </p>
        <table id="category-table" class="table">
            <thead>
                <tr>
                    <th data-sortable="true">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th data-sortable="true">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary, btn-class">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary, btn-class">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary, btn-class">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_PagerCategory" model="@pager" /> 
    </div>


</body>
