@model MoseKeyboard.Models.Models.Product

<style>
    .card {
        display: flex;
        flex-direction: column;
        background-color: rgb(15,15,15,0.5);
        width: 18vw;    
        border-radius: 0px;
        font-family: PT SERIF;
        color: white;
        align-items: center;
        padding: 1vw;
        max-height: 10vw;
        margin: 2vw;
    }

</style>

<div class="card filter @Model.Category.Name.Replace(' ','_')">
    <div class="card-info"><label>@Model.Name</label></div>
    @* <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@WC.ImagePath@Model.Image" alt="No Image :(">  *@
    <div class="card-info"><span>@Model.Price usd</span></div>
    <div class="card-info"><a class="btn btn-dark form-control btn-sm p-2" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id" style="height:40px">Details</a></div>
</div>
